<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add menu</title>
    <link th:insert="blocks/bootstrap-css-style.html :: style">
</head>

<body>
<header th:insert="blocks/header.html :: header"></header>

<div class="container mt-5 mb-5">
    <div>
        <div class="container mt-5 mb-5"><h2>Choose type of item to add</h2>
            <hr class="my-4">
            <form action="/add_menu" method="post">
                <th:block th:insert="blocks/radioButtons :: generateRadioButtons"></th:block>
                <br>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
            </form>
            <hr class="my-4">
            <button type="button" onclick="location.href='/main_menu'" class="w-100 btn btn-lg btn-outline-primary">
                Back
            </button>
            <br></div>
    </div>
</div>

<footer th:insert="blocks/footer.html :: footer"></footer>
</body>
</html>