<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log_in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:insert="blocks/bootstrap-css-style.html :: style">
    <link/>
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Log in page text</h1>
    <br>
    <form action="/log_in" method="post">
        <input type="text" name="userName" placeholder="Enter user name" class="form-control" th:value="${userName}">
        <br>
        <input type="number" name="typeOfWork" placeholder="Enter type of work" class="form-control" th:value="${typeOfWork}">
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>


<footer th:insert="blocks/footer.html :: footer"></footer>
</body>
</html>