<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:insert="blocks/bootstrap-css-style.html :: style">
    <link/>
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>

<div class="container mt-5 mb-5">
    <h1 th:text="'Welcome, ' + ${userName}"></h1>
    <h3 th:text="'Type of work with files: ' + ${typeOfWorkFriendlyString}"></h3>
</div>

<div class="container mt-5 mb-5">
    <button type="button" onclick="location.href='/add_menu'" class="w-100 btn btn-lg btn-outline-primary">Add item</button>
    <br>
    <button type="button" onclick="location.href='/edit_items'" class="w-100 btn btn-lg btn-outline-primary">Edit items</button>
    <br>
    <button type="button" onclick="location.href='/sorting_types_menu'" class="w-100 btn btn-lg btn-outline-primary">Sort items</button>
    <br>
    <button type="button" onclick="location.href='/log_in'" class="w-100 btn btn-lg btn-outline-primary">Exit</button>
</div>

<div class="container mt-5 mb-5">
    <div th:utext="${generatedMenu}"></div>
</div>

<footer th:insert="blocks/footer.html :: footer"></footer>
</body>
</html>